<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>SPRING-MVC Sample Web Application</display-name>
	<listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
		</listener>
	<!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value>/WEB-INF/rootApplicationContext.xml</param-value> 
		</context-param> -->
	<servlet>
		<servlet-name>spring-mvc-sample</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc-sample</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<!-- <welcome-file>Home.jsp</welcome-file> -->
		<!-- <welcome-file>default.html</welcome-file> -->
	</welcome-file-list>


</web-app>
